@import "tailwindcss";

:root {
  --bg: #1e1e1e;
  --bg-header: #3c3c3c;
  --bg-activitybar: #333;
  --bg-sidebar: #252526;
  --bg-workspace-header: #2d2d2d;
  --text-primary: #ededed;
  --text-secondary: #cccccc;
  --text-muted: #bbbbbb;
  --border: #3c3c3c;
}

@theme inline {
  --color-background: var(--bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #424242 transparent;
}

body {
  background: var(--bg);
  color: var(--text-primary);
  font-family: var(--font-geist-sans), "Segoe UI", system-ui, sans-serif;
  font-size: 13px;
  min-height: 100dvh;
}
